{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}
      Password
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Восстановление пароля (2/2)</h3>
        <h5>Придумайте новый пароль для учетной записи</h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div>
            <input type="submit" value="Сохранить пароль" />
        </div>
    </form>
</div>

{% endblock %}
