{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}
      Email
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Восстановление пароля (1/2)</h3>
        <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            {{ form }}
        </div>
        <div>
            <input type="submit" value="Получить проверочный код" />
        </div>
        <a class="login" href="{% url 'auth_app:login' %}">
            Вход
        </a>
    </form>
</div>

{% endblock %}
