{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %}
      Register
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Регистрация</h3>
    </div>
    <div class="clear"></div>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
<!--            <input class="user-input" type="text" name="name" id="name" placeholder="Имя" />-->
<!--        </div>-->
<!--        <div>-->
<!--            <input class="user-input" type="email" name="login" id="name" placeholder="E-mail" />-->
<!--        </div>-->
<!--        <div>-->

<!--            <input type="password" name="pass" id="name" placeholder="Пароль" />-->
        <input type="submit" value="Зарегистрироваться" />


        <a class="login" href="{% url 'auth_app:login' %}">
            Вход
        </a>
        <div class="clear"></div>
    </form>
</div>

{% endblock %}
